.todo {
  margin: 50px 0;

  .addTodoButton {
    background-color: transparent;
    border: 2px solid #79b38a;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: #79b38a;
      color: #fff;
    }
  }
}